<!DOCTYPE html>
<html>
<head>
	<title>VueJS Tutorial</title>
</head>
<body>
	<div id="root">
		<h4>Placeholder</h4>
		<ul>
			<li v-for="name in names">{{ name }}</li>
		</ul>

		<h4>v-text attribute</h4>
		<ul>
			<li v-for="name in names" v-text="name"></li>
		</ul>

		<input id="input" type="text">
		<button id="button">Add name</button>
	</div>

	<!-- development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>
		var app = new Vue({
			el: '#root',
			data: {
				names: ['Jane', 'Mary', 'John', 'Jack']
			},

			// Trigger when instance is mounted
			mounted() {
				document.querySelector('#button').addEventListener('click', () => {
					let name = document.querySelector('#input');

					app.names.push(name.value);

					name.value = '';
				});
			}
		});
	</script>
</body>
</html>